<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
      <!-- Properties Configuration -->
      <bean id="com.xworkz.maven.bean.Properties" class="com.xworkz.maven.bean.Properties">
        
		<property name="properties">
		
			<prop key="Taluka">Phulambri</prop>
			<prop key="District">Aurangabad</prop>
			<prop key="State">Maharashtra></prop>
			<prop key="Country">India</prop>
		</property>       
      </bean>
</beans>
