<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
         <!-- bean definitions here -->
         
        <bean class="com.xworkz.camera.bean.CameraDTO"></bean>

        <bean class="com.xworkz.camera.bean.CameraDTO" id="camera">

        <constructor-arg value="125" type="int"/>
        <constructor-arg value="Sony" type="String"/>
        <constructor-arg value="50" type="float"/>


       <property name="type" value="DSLR"/>
       <property name="cost" value="10000"/>
       <property name="colour" value="Black"/>


       <!-- bean definition here
       <constructor-arg value="100" type="double"/>
       <constructor-arg value="true" type="boolean"/>
       <constructor-arg value="A" type="char"/>
       <constructor-arg value="250" type="float"/> -->
       </bean>

       <bean class="java.lang.Double" id="double">
       <constructor-arg value="250" type="double"/>
       </bean>


       <bean class="java.lang.Boolean" id="boolean">
       <constructor-arg value="true" type="boolean"/>
       </bean>


       <bean class="java.lang.Character" id="char">
       <constructor-arg value="A" type="char"/>
       </bean>


       <bean class="java.lang.Float" id="float">
       <constructor-arg value="100" type="float"/>
       </bean>


       <bean class="java.lang.StringBuffer">
       <constructor-arg value="5457"/>
       </bean>

       <bean class="java.lang.StringBuffer">
       <constructor-arg value="3456"/>
       </bean>

       <bean class="java.lang.StringBuffer">
       <constructor-arg value="9754"/>
       </bean>


       </beans>